<div class="container p-2">
    <div class="row">
        <div class="col-sm-12 col-md-9 info" *ngIf="address">
         <h1>shipping address</h1>
            <div class="shipping">
                <div>{{ address.street }}</div>
                <span>{{ address.city }}, {{ address.state }} {{ address.zip }} 
                </span>
            </div>
            <hr>
            <h1> Payment method</h1>
            <span>...</span>
        </div>
        <div class="col-sm-12 col-md-3 placeorder">
            <h3>Order Summary</h3>
            
            <span>...</span>
            <span>...</span>
            <span>...</span>
            <button class="btn btn-success">Place your order</button>
        </div>
    </div>
</div>
