<div class="row mt-5">
    <div class="col-sm-12 col-md-4">
        <div class="card">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS6upVh6kK9YEJnZf2QM8JprRgfl_5i1lqzJBg5f1TFrtDHUb4eIyT4xiq3rw4Kv4OqFgNn6M8&usqp=CAc" alt="" class="card__img">
            <div class="card__text">
                <h3 class="card__text--main">Men's Fasion</h3>
                <a routerLink="products">
                 <h3 class="card__text--sub">Shop Now</h3></a>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-4">
        <div class="card">
            <img src="https://specials-images.forbesimg.com/imageserve/5fa9887707a8d993ca8ee62c/960x0.jpg?fit=scale" alt="" class="card__img">
            <div class="card__text">
                <h3 class="card__text--main">Women's Fasion</h3>
                <h3 class="card__text--sub card__text--temp">Shop Now</h3>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-4">
        <div class="card">
            <img src="https://cdn.shopify.com/s/files/1/0042/9365/6664/products/product-image-818913043.jpg?v=1571713556" alt="" class="card__img">
            <div class="card__text">
                <h3 class="card__text--main">Babies Fasion</h3>
                <h3 class="card__text--sub card__text--temp">Shop Now</h3>
            </div>
        </div>
    </div>
</div>
   

   

 
