    <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-4" *ngFor="let product of products">        
            <div class="card">
                <img src="assets/{{ product.imgUrls[0] }}" alt="" class="card__img">
                
                <div class="card-body">
                    <a [routerLink]="['/products', product.id]">
                        <h1 class="card-title">{{ product.name }}</h1>
                    </a>
                    <p class="card-text">{{ product.price | currency }}</p>
                </div>
            </div>
        </div>
    </div> 