<ng-container *ngIf="product">
    <div class="row p-3">
      
        <div class="col-sm-12 col-md-6">
            <img src="assets/{{ product.imgUrls[currentImg] }}" alt="" style="width: 100%;">
        </div>

        <div class="col-sm-12 col-md-2 img-box">
            <ng-container *ngFor="let imgs of product.imgUrls; let i = index">
                <img src="assets/{{ imgs }}"  class="sm-imgs"
                (mouseenter)="currentImg = i;">
            </ng-container>
            
        </div>

        <div class="col-sm-12 col-md-4 text-center">
            <div class="item_details">
                <h1>{{ product.name }}</h1>
                <h2>{{ product.price | currency}}</h2>
                <p>{{ product.desc }}</p>
            </div>
            <button class="btn btn-info" (click)="addToCart(product)">Add to Cart</button>
        </div>
    </div>
</ng-container>
