
.img-box{
    order: -1;
    @media screen and (max-width: 766px) {
        display: flex;
        justify-content: center;
    }
}
.sm-imgs{
    width: 7rem;
    border: thin black solid;
    margin: 3px;
    padding: 5px;

    &:hover{
        cursor: pointer;
    }
    
}